<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center><h1 style="color:brown;">REGISTRATION FORM</h1></center>
<form action="register" method="post" >
    {% csrf_token %}
    <input type="text" name="username" placeholder="enter your name"><br>
    <input type="text" name="first_name" placeholder="enter your firstname"><br>
    <input type="text" name="last_name" placeholder="enter your lastname"><br>
    <input type="email" name="email" placeholder="enter your email_id"><br>
    <input type="password" name="password" placeholder="enter your password"><br>
    <input type="password" name="password_again" placeholder="enter your password again"><br>
    <input type="submit">
</form>
{% for msg in messages %}
{{msg}}
{% endfor %}
</body>
</html>